# Your library Kconfig
menuconfig ICM20948
    bool "ICM20948 library"
    default y

if ICM20948

# These two variables are consumed by the template.
module = ICM20948
module-str = "icm"

# Pull in the standard Zephyr per-module log-level choice:
source "subsys/logging/Kconfig.template.log_config"

endif # ICM