[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "lib/ads1220"]
	path = lib/ads1220
	url = https://github.com/badjeff/ads1220-zephyr-module
